[build]
builder = "DOCKERFILE"
dockerfilePath = "docker/httpd/Dockerfile"

[deploy]
startCommand = "docker-compose up"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "fleetbase-database"
source = "database"

[[services.healthcheck]]
path = "/"
port = 3306

[[services]]
name = "fleetbase-cache"
source = "cache"

[[services]]
name = "fleetbase-queue"
source = "queue"

[[services]]
name = "fleetbase-api"
source = "application"

[[services.healthcheck]]
path = "/health"
port = 8000

[[services]]
name = "fleetbase-console"
source = "console"

[[services.healthcheck]]
path = "/"
port = 4200

[[services]]
name = "fleetbase-socket"
source = "socket"

[[services]]
name = "fleetbase-scheduler"
source = "scheduler"

[[services]]
name = "fleetbase-httpd"
source = "httpd"

[env]
DATABASE_URL = { value = "mysql://root@fleetbase-database:3306/fleetbase" }
REDIS_URL = { value = "tcp://fleetbase-cache:6379" }
CACHE_URL = { value = "tcp://fleetbase-cache:6379" }
QUEUE_CONNECTION = { value = "redis" }
CACHE_DRIVER = { value = "redis" }
BROADCAST_DRIVER = { value = "socketcluster" }
SESSION_DOMAIN = { value = "${{RAILWAY_PUBLIC_DOMAIN}}" }
APP_URL = { value = "https://${{RAILWAY_PUBLIC_DOMAIN}}" }
ENVIRONMENT = { value = "production" }
APP_NAME = { value = "REEUP Fleetbase" }
REGISTRY_HOST = { value = "https://registry.fleetbase.io" }
REGISTRY_PREINSTALLED_EXTENSIONS = { value = "true" }
OSRM_HOST = { value = "https://router.project-osrm.org" }
